* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9E5E5;
}

.logo{
    max-height: 130px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.topnav {
    overflow: hidden;
    background-color: #F9E5E5;
  }
  
.topnav #myLinks {
    display: none;
  }
  

  .topnav a {
    color: #4F604D;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 28px;
    display: block;
    text-align: center;
    background-color: #F9E5E5;
  }

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-icons a{
    padding: 15px;

}
  
  .topnav a.icon {
    background: #F9E5E5;
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
  }
  
  .topnav a:hover {
    background-color: #F9E5E5;
    color: #709067;
  }
  
  .shopping-bag {
    display: flex;
    align-items: center;
    position: absolute;
    right: 80px; 
    top: 30px;
}

.img1 {
    width: 100%;
    height: auto;

}

.box1 {
    width:80%;
    height: 400px;
    background-color: aqua;
    margin: auto;
}

.grid1 {
        display: flex;
        flex-direction: row;
        gap:20px;
        padding: 5px;
        width: 80%;
        justify-content: space-between;
        margin: auto;
}

.foto1 {
    height: 400px;
    Width: 200px;
    background-color:blue;

}

.box2 {
    width: auto;
    height: 300px;
    position: relative;
    background-color: #F9E5E5;
    text-align: center;
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1 {
    color: #333333;
    font-size:large;
    background-color: transparent;
    font-weight: lighter;
    margin-bottom: 30px;
}

h2 {
    color:#333333;
    font-size: smaller;
    background-color: transparent;
}



.footer {
    height: 200px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: baseline;
    margin-bottom: 50px;

}

.kolonne {
    background-color:#e4dfd0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;

}
